.b-footer
  .b-footer__name 
    | FAMULITE LAB.
  .b-footer__blk
    a.b-footer__text(href="mailto:famulite.lab.contact@gmail.com" target="_blank")
      | CONTACT US
    a.b-footer__text(href="/privacy/")
      | PRIVACY POLICY
  .b-footer__rights 
    | &copy;FAMULITE LAB. ALL RIGHTS RESERVED
  .b-footer__logo
    img(src=`${imgPath}/common/logo-black.png`)