-
  gnavList = [
    {
      href: 'https://famulitelab.github.io/',
      span: 'TOP',
    },
    {
      href: 'https://famulitelab.github.io/#about',
      span: 'ABOUT',
    },
    {
      href: 'https://famulitelab.github.io/#members',
      span: 'MEMBERS',
    },
    {
      href: 'https://famulitelab.github.io/#works',
      span: 'WORKS',
    }
  ]

//- Global navigation
div.p-gnav-wrapper(data-hamburer-menu-role="wrapper")
  div.p-gnav-area(data-hamburer-menu-role="area")
  div.p-gnav-content
    a.p-gnav-close(href="javascript:void(0)" data-hamburer-menu-role="close")
    div.p-gnav-box
      ul.p-gnav-list(data-hamburer-menu-role="list")
        each item in gnavList
          li.p-gnav-item
            a(href=item.href)
              span.p-gnav-span #{item.span}