.b-header
  .b-header-inner
    a.b-header__logo(href="#")
      img(src=`${imgPath}/common/logo-01.svg` alt=`aa`) 
    .b-header__menu(data-hamburer-menu-role="open")
      span
      span 
      span