.b-header
  .b-header-inner
    a.b-header__logo(href="https://famulitelab.github.io/")
      img(src=`${imgPath}/common/logo-black.png` alt=`logo`) 
    .b-header__menu(data-hamburer-menu-role="open")
      span
      span 
      span