extend ../../_layout/_default

block vars
  - path = '/games/triroad/'

block main
  .l-frame
    .gm-ht 
      .gm-ht--inr 
        .gm-ht__hdg TRIROAD 
        .gm-ht__cnt
          .gm-ht__cnt__ttl OVERVIEW 
          .gm-ht__cnt__txt TRIROADは2015年、当時北海道大学の大学院生（数学専攻）であった中村文彦氏と高澤佳宏氏によって開発されたボードゲームです。この度弊社にてアプリ化が実現しました。
          .gm-ht__cnt__ttl ABOUT 
          .gm-ht__cnt__txt TRIROADはプレイヤーが交互にピースを置いていき、先にステージ端にある自身の色のいずれか２か所をつなげた方が勝ちとなる二人対戦型のボードゲームです。
          .gm-ht__cnt__ttl HOW TO PLAY 
          ul.gm-ht__cnt__list 
            li.gm-ht__cnt__list__itm
              | プレイヤーは盤面に交互にピースを置いていきます。
            li.gm-ht__cnt__list__itm
              | 盤面の端にある自身の色を
              b いずれか２か所、先につなげた方が勝ち
              | となります。
              .gm-ht__cnt__list__itm__img
                .gm-ht__cnt__list__itm__img__cnt 
                  img(src=`${imgPath}/games/triroad/img-01.jpg` alt='盤面')
                  p.gm-ht__cnt__list__itm__img__cnt__txt 盤面
                .gm-ht__cnt__list__itm__img__cnt 
                  img(src=`${imgPath}/games/triroad/img-02.jpg` alt='白の勝ち')
                  p.gm-ht__cnt__list__itm__img__cnt__txt 白の勝ち
            li.gm-ht__cnt__list__itm
              | ただし一番近くの隣り合った２か所をつないでも勝ちにはなりません。
            li.gm-ht__cnt__list__itm
              | 全24ピースが置かれた時点で、両者の道がいずれもつながっていなかった場合は、
              b もっとも長い道(領域)を作った方の勝利
              | となります。さらに両者の道の長さが
              b 同数であった場合は引き分け
              | となります。
          .gm-ht__cnt__ttl FEATURE 
          .gm-ht__cnt__txt 
            | 将棋や囲碁に比べるとたった24手で終了するシンプルなゲームですが、実際にプレイしてみると意外と結構考え込んでしまいます。ピースには自分だけでなく相手プレイヤーの色も含まれていることが思考を難しくします。先手後手のどちらが有利か、必勝法はあるかはまだ未解明です。
            br
            | 誰でも気軽に遊べるゲームですのでぜひ一度お試しあれ！
          .gm-ht__cnt__ttl RELATION 
          .gm-ht__cnt__txt 
            | 日本テセレーションデザイン協会によって、このピース（T3ピースと呼ばれる）を用いた展示やワークショップが全国で開催されています。T3ピースによるデザインに興味がある方はぜひ下記をチェックしてみてください。
          a.gm-ht__cnt__link(href='' target='_blank') https://www.tessellation.jp/
          br
          a.gm-ht__cnt__link(href='' target='_blank') https://t3puzzle.thebase.in/