.c__text 
  +pc()
    font(14,24,50,400)
    // margin-top vw(40, $vpc)
  +sp()
    font(14,24,50,400)
    margin-top vw(50, $vsp)
  
  span
    +pc()
      font(17,24,50,500)
    +sp()
      font(17,24,50,500)