.c__ttl
  font-family 'Montserrat'
  text-align center
  +pc()
    font(30,30,50,500)
  +sp()
    font(30,30,50,500)
  
.c__ttl--lv2
  font-family 'Montserrat'
  +pc()
    font(24,24,50,500)
  +sp()
    font(24,24,50,500)
    text-align center