body
  font-family sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  -webkit-text-size-adjust 100%

  img
    width 100%

// display none
.u-is-pc
  +sp()
    display none !important

.u-is-sp
  +pc()
    display none !important

// image wrap
.u-img-wrap
  font-size 0
  line-height 0