.b-footer
  font-family 'Montserrat'
  position relative
  +pc()
    margin vw(170, $vpc) auto vw(40, $vpc)
    width vw(1200, $vpc)
    padding-top vw(30, $vpc)
    border-top 1px solid rgba(0,0,0,0.1)
  +sp()
    margin vw(170, $vsp) auto vw(40, $vsp)
    width vw(600, $vsp)
    padding-top vw(70, $vsp)
    border-top 1px solid rgba(0,0,0,0.1)

.b-footer__name
  +pc()
    font(30,30,50,500)
  +sp()
    font(26,26,50,500) 

.b-footer__blk
  display flex
  align-items center
  +pc()
    margin-top vw(10, $vpc)
  +sp()
    margin-top vw(10, $vsp)

.b-footer__text
  color #000
  +pc()
    transition opacity 0.3s ease
    font(14,14,50,500)
  +sp()
    font(12,12,50,500)
  
  + .b-footer__text
    +pc()
      margin-left vw(20, $vpc)
    +sp()
      margin-left vw(30, $vsp)
  &:hover
    +pc()
      opacity 0.7

.b-footer__sns
  display flex
  align-items center
  +pc()
    margin-top vw(20, $vpc)
  +sp()
    margin-top vw(20, $vsp)

.b-footer__sns__tw 
  display block
  +pc()
    width vw(40, $vpc)
  +sp()
    width vw(70, $vsp)

.b-footer__sns__yt
  display block
  +pc()
    width vw(50, $vpc)
    margin-left vw(20, $vpc)
  +sp()
    width vw(80, $vsp)
    margin-left vw(20, $vsp)

[class*='b-footer__sns__']
  +pc()
    transition opacity 0.3s ease
  &:hover 
    +pc()
      opacity 0.7

.b-footer__rights
  +pc()
    font(11,11,50,400)
    margin-top vw(40, $vpc)
  +sp()
    font(10,10,50,400)
    margin-top vw(100, $vsp)

.b-footer__logo
  position absolute
  bottom 0
  right 0
  +pc()
    width vw(80, $vpc)
  +sp()
    width vw(80, $vsp)