.b-header
  width 100%
  position fixed
  top 0
  left 0
  z-index 99

.b-header-inner
  display flex
  justify-content space-between
  position relative
  +pc()
    padding vw(20, $vpc)
  +sp()
    padding vw(30, $vsp)

.b-header__logo
  display block
  +pc()
    width vw(50, $vpc)
    transition  opacity 0.3s ease
  +sp()
    width vw(70, $vsp)
  
  &:hover
    opacity 0.7

.b-header__menu
  pointer-events auto
  cursor pointer
  position absolute
  top 50%
  transform translateY(-50%)
  +pc()
    width vw(46, $vpc)
    right vw(25, $vpc)
  
  +sp()
    width vw(80, $vsp)
    right vw(42, $vsp)

  span
    display block
    width 100%
    background-color #000
    height 1px
    
    + span
      +pc()
        margin-top vw(8, $vpc)
      
      +sp()
        margin-top vw(11, $vsp)