.gm-ht--inr
  +pc()
    margin-top vw(150, $vpc)
  +sp()
    margin-top vw(300, $vsp)

.gm-ht__hdg,
.gm-ht__cnt__ttl
  font-family 'Montserrat'

.gm-ht__hdg
  +pc()
    font(36,36,50,500)
  +sp()
    font(36,36,50,500)

.gm-ht__cnt
  +pc()
    margin-top vw(200, $vpc)
  +sp()
    margin-top vw(200, $vsp)

.gm-ht__cnt__ttl
  position relative
  border-bottom 1px solid rgba(0,0,0,0.1)
  +pc()
    font(24,24,50,500)
    padding-bottom vw(20, $vpc)
  +sp()
    font(24,24,50,500)
    padding-bottom vw(40, $vsp)

  + .gm-ht__cnt__list
    +pc()
      margin-top vw(20, $vpc)
    +sp()
      margin-top vw(40, $vsp)

.gm-ht__cnt__txt
  +pc()
    font(14,24,90,400)
    margin-top vw(20, $vpc)
  +sp()
    font(14,24,90,400)
    margin-top vw(40, $vsp)
  
  + .gm-ht__cnt__ttl
    +pc()
      margin-top vw(120, $vpc)
    +sp()
      margin-top vw(120, $vsp)

.gm-ht__cnt__list
  +pc()
    padding-left vw(20, $vpc)
  +sp()
    padding-left vw(40, $vsp)
  
  + .gm-ht__cnt__ttl
    +pc()
      margin-top vw(120, $vpc)
    +sp()
      margin-top vw(120, $vsp)

.gm-ht__cnt__list__itm
  list-style disc
  +pc()
    font(14,24,90,400)
  +sp()
    font(14,24,90,400)

.gm-ht__cnt__list__itm__img
  +pc()
    display flex
    justify-content center
    margin vw(80, $vpc) 0
  +sp()
    margin vw(80, $vsp) 0

.gm-ht__cnt__list__itm__img__cnt 
  text-align center
  +pc()
    width vw(300, $vpc)
  +sp()
    width vw(380, $vsp)
    margin-left vw(60, $vsp)
  
  + .gm-ht__cnt__list__itm__img__cnt 
    +pc()
      margin-left vw(50, $vpc)
    +sp()
      margin-top vw(50, $vsp)

.gm-ht__cnt__link
  color #808080
  transition color 0.3s ease
  +pc()
    font(13,22,50,400)
  +sp()
    font(11,20,50,400)
  &:hover
    +pc()
      color #000