// media query
pc()
  @media $pc
    {block}

sp()
  @media $sp
    {block}

ssp()
  @media $ssp
    {block}

land()
  @media screen and (orientation: landscape)
    {block}

port()
  @media screen and (orientation: portrait)
    {block}

// clearfix
cf()
  &:after
    display block
    clear both
    content ''

// no font
nofont()
  font-size 0
  line-height 0

// flex center
flexCenter()
  display flex
  justify-content center
  align-items center

// font setting
font(fs, lh = null, ls = null, fw = null)
  font-size fs px
  if lh != null
    line-height lh px
  if ls != null
    letter-spacing (ls/1000) em
  if fw != null
    font-weight fw

// pxをvwに変換
vw(size, viewport)
  'calc(1vw * %s / %s * 100)' % (size viewport)