/**
 * この記述によって "src/data/settings.json" の内容が変数として使用できます。
 * 各変数へのアクセス方法は breakpoint-wide / breakpoint-pc / path-image などです。
 *
 * 参照ドキュメント： https://stylus-lang.com/docs/bifs.html#jsonpath-options
 */
json('../../data/settings.json')

// ↓↓↓ プロジェクト固有の変数は以下に定義してください。 ↓↓↓
$imgPath = path-image

$pc = 'screen and (min-width: ' + breakpoint-pc + 'px)'
$sp = 'screen and (max-width: ' + breakpoint-sp + 'px)'
$ssp = 'screen and (max-width: ' + breakpoint-ssp + 'px)'

// viewport
$vpc = 1280
$vsp = 750
